@import "flexibox";

.container {
  @include fbox-container(970px, true, true);
}

.lhs {
  @include fbox-grid( 10, $prepend: 1, $padding: 20px 10px, $append: 2 );
  background-color: yellow;
}

.middle {
  @include fbox-grid( 5 );
  background-color: blue;
}

.middle-left {
  @include fbox-grid( 3, $padding: 5px );
}

.middle-right {
  @include fbox-grid( 2, $last: true );
}

.rhs {
  @include fbox-grid-image('middle3.jpg', $padding: 10px, $append: 1, $fixed-height: true);
  background-color: red;
}
