@import "flexibox";

.container {
  @include fbox-container($show-grid: true);
}

.lhs {
  @include fbox-grid( 3, $prepend: 1, $height: 100px, $padding: 20px 20px, $append: 2 );
  background-color: yellow;
}

.middle {
  @include fbox-grid( 2, $last: true );
  background-color: blue;
}


.rhs {
  @include fbox-grid-image('middle3.jpg', $padding: 10px, $fixed-height: false);
  background-color: red;
}
